<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DeMans</display-name>

  <!-- Mapeamento da Servlet de Cadastro de Membros -->
  <servlet>  
	<servlet-name>controller_RegisterMember</servlet-name>  
	<servlet-class>controller.RegisterMember</servlet-class>  
  </servlet>  
	  
  <servlet-mapping>  
	<servlet-name>controller_RegisterMember</servlet-name>  
	<url-pattern>/registerMember</url-pattern>  
  </servlet-mapping> 
  
   <!-- Mapeamento da Servlet para Registro de Nominata -->
  <servlet>  
	<servlet-name>controller_RegisterNominata</servlet-name>  
	<servlet-class>controller.RegisterNominata</servlet-class>  
  </servlet>  
	  
  <servlet-mapping>  
	<servlet-name>controller_RegisterNominata</servlet-name>  
	<url-pattern>/registerNominata</url-pattern>  
  </servlet-mapping>  
  
  <!-- Mapeamento da Servlet para Editar Nominata -->
  <servlet>  
	<servlet-name>controller_UpdateNominata</servlet-name>  
	<servlet-class>controller.UpdateNominata</servlet-class>  
  </servlet>  
	  
  <servlet-mapping>  
	<servlet-name>controller_UpdateNominata</servlet-name>  
	<url-pattern>/updateNominata</url-pattern>  
  </servlet-mapping>  

  <!-- Mapeamento da Servlet para Efetuar Login -->
  <servlet>  
	<servlet-name>controller_Login</servlet-name>  
	<servlet-class>controller.Login</servlet-class>  
  </servlet>  
	  
  <servlet-mapping>  
	<servlet-name>controller_Login</servlet-name>  
	<url-pattern>/login</url-pattern>  
  </servlet-mapping>   
  
    <!-- Mapeamento da Servlet para redirecionar a página Principal -->
  <servlet>  
	<servlet-name>controller_home</servlet-name>  
	<servlet-class>controller.Login</servlet-class>  
  </servlet>  
	  
  <servlet-mapping>  
	<servlet-name>controller_home</servlet-name>  
	<url-pattern>/home</url-pattern>  
  </servlet-mapping>   
 
   <!-- Mapeamento da Servlet para Aprovar Membros -->
  <servlet>  
	<servlet-name>controller_ApproveMember</servlet-name>  
	<servlet-class>controller.ApproveMember</servlet-class>  
  </servlet>  
	  
  <servlet-mapping>  
	<servlet-name>controller_ApproveMember</servlet-name>  
	<url-pattern>/approveMember</url-pattern>  
  </servlet-mapping> 
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>